In [4]:
import numpy as np
sample_list = ['haider','kashif','ali','ai','haider','ali']
vocab = np.unique(sample_list)
vocab

array(['ai', 'ali', 'haider', 'kashif'], dtype='<U6')

In [40]:
doc1 = 'kashif is a good boy and a chess player'
doc2 = "haider is a business man"
doc3 = "soban is a dalla"

super_list = []
for doc in [doc1,doc2,doc3]:
    for word in doc.split(' '):
        super_list.append(word)
vocab = np.unique(super_list)
vocab

array(['a', 'and', 'boy', 'business', 'chess', 'dalla', 'good', 'haider',
       'is', 'kashif', 'man', 'player', 'soban'], dtype='<U8')

In [56]:
for item in [doc1.split(" ")[i:i+2] for i in range(len(doc1.split(" "))-1)]:
    print(item)

['kashif', 'is']
['is', 'a']
['a', 'good']
['good', 'boy']
['boy', 'and']
['and', 'a']
['a', 'chess']
['chess', 'player']

In [53]:
[doc2.split(" ")[i:i+2] for i in range(len(doc2.split(" "))-1)]

[['haider', 'is'], ['is', 'a'], ['a', 'business'], ['business', 'man']]

In [57]:
super_bi_list = []

In [58]:
for doc in [doc1, doc2, doc3]:
    for item in [doc.split(" ")[i:i+2] for i in range(len(doc.split(" "))-1)]:
        super_bi_list.append(item)

In [59]:
super_bi_list

[['kashif', 'is'],
 ['is', 'a'],
 ['a', 'good'],
 ['good', 'boy'],
 ['boy', 'and'],
 ['and', 'a'],
 ['a', 'chess'],
 ['chess', 'player'],
 ['haider', 'is'],
 ['is', 'a'],
 ['a', 'business'],
 ['business', 'man'],
 ['soban', 'is'],
 ['is', 'a'],
 ['a', 'dalla']]

In [60]:
vocab_bi = np.unique(super_bi_list)

In [63]:
vocab_bi = set()

In [66]:
for item in super_bi_list:
    print(item)
    vocab_bi.add(tuple(item))

['kashif', 'is']
['is', 'a']
['a', 'good']
['good', 'boy']
['boy', 'and']
['and', 'a']
['a', 'chess']
['chess', 'player']
['haider', 'is']
['is', 'a']
['a', 'business']
['business', 'man']
['soban', 'is']
['is', 'a']
['a', 'dalla']

In [68]:
vocab_bi = list(vocab_bi)

In [69]:
vocab_bi

[('a', 'dalla'),
 ('and', 'a'),
 ('business', 'man'),
 ('a', 'chess'),
 ('soban', 'is'),
 ('a', 'business'),
 ('is', 'a'),
 ('haider', 'is'),
 ('chess', 'player'),
 ('kashif', 'is'),
 ('a', 'good'),
 ('boy', 'and'),
 ('good', 'boy')]

In [76]:
for item in vocab_bi:
    text = item[0] + " " + item[1]
    print(doc1.count(text))

0
1
0
1
0
0
1
0
1
1
1
1
1

In [73]:
doc2.count("and a")

0

In [41]:
columns = list(vocab)

In [42]:
columns

['a',
 'and',
 'boy',
 'business',
 'chess',
 'dalla',
 'good',
 'haider',
 'is',
 'kashif',
 'man',
 'player',
 'soban']

In [43]:
unigram_mat = np.zeros((3, len(columns)))

In [44]:
unigram_mat

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [45]:
doc1.split(" ").count("kashif")

1

In [46]:
for i, doc in enumerate([doc1,doc2,doc3]):
    for j in range(len(columns)):
        unigram_mat[i][j] = doc.split(" ").count(columns[j])

In [47]:
unigram_mat

array([[2., 1., 1., 0., 1., 0., 1., 0., 1., 1., 0., 1., 0.],
       [1., 0., 0., 1., 0., 0., 0., 1., 1., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 1.]])

In [37]:
l1 = [1,2,3,4]
l2 = ['a','b','c']

l1+l2

[1, 2, 3, 4, 'a', 'b', 'c']

In [38]:
for i in l1+l2:
    print(i)

1
2
3
4
a
b
c

In [39]:
for i, j in zip(l1,l2):
    print(i, j)

1 a
2 b
3 c